/* Style the image */
/* .image {
    position: relative;
    display: inline-block;
    width: 200px;
    height: 200px;
    background-image: url('your_image.png');
    background-size: cover;
    background-position: center;
} */

/* Add animation to the image */
/* .image:hover {
    animation: scale-up 1s infinite alternate;
} */

/* Define the animation keyframes */
@keyframes break-apart {
    0% {
        transform: scale(1);
    }
    20% {
        transform: scale(1.1) rotate(10deg);
    }
    40% {
        transform: scale(0.9) rotate(-10deg);
    }
    60% {
        transform: scale(1.1) rotate(10deg);
    }
    80% {
        transform: scale(0.9) rotate(-10deg);
    }
    100% {
        transform: scale(1) rotate(0deg);
    }
}

/* Add shaking effect
.image:hover::after {
    animation: shake 0.5s ease-out;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('img/ilustration.png');
    background-size: cover;
    background-position: center;
    transform: translateX(-50%) translateY(-50%);
} */

@keyframes shake {
    0% {
        transform: translateX(0) translateY(0);
    }
    20% {
        transform: translateX(-5px) translateY(5px);
    }
    40% {
        transform: translateX(5px) translateY(-5px);
    }
    60% {
        transform: translateX(-5px) translateY(5px);
    }
    80% {
        transform: translateX(5px) translateY(-5px);
    }
    100% {
        transform: translateX(0) translateY(0);
    }
}

/* Add scaling effect */
/* .image:hover::before {
    animation: scale-up 0.5s ease-out;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('img/ilustration.png');
    background-size: cover;
    background-position: center;
    transform: translateX(-50%) translateY(-50%);
} */

@keyframes scale-up {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.2);
    }
}